<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-6/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
      >
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <div class="text-blueGray-400 text-center mb-3 font-bold">
            <small>Sign up with credentials</small>
          </div>
          <form [formGroup]="form" name="register-form" (ngSubmit)="onSubmit()">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="username"
                [class]="{
                  'is-invalid': submitted && formControls['username'].errors
                }"
              >
                Username
              </label>
              <input
                type="text"
                formControlName="username"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                [class]="{
                  'is-invalid': submitted && formControls['username'].errors
                }"
                placeholder="Name"
              />
              @if(submitted && formControls['username'].errors) {
              <p class="text-red-500 mt-2">Username is required</p>
              }
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="organisationName"
              >
                Organisation Name
              </label>
              <input
                type="text"
                formControlName="organisationName"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                [class]="{
                  'is-invalid':
                    submitted && formControls['organisationName'].errors
                }"
                placeholder="Organisation Name"
              />
              @if(submitted && formControls['organisationName'].errors) {
              <p class="text-red-500 mt-2">Organisation Name is required</p>
              }
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="email"
                [class]="{
                  'is-invalid': submitted && formControls['email'].errors
                }"
              >
                Email
              </label>
              <input
                type="email"
                formControlName="email"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Email"
                [class]="{
                  'is-invalid': submitted && formControls['email'].errors
                }"
              />
              @if(submitted && formControls['email'].errors) {
              <p class="text-red-500 mt-2">
                Email is required and must be in email format i.e.
                email&#64;email.com
              </p>
              }
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="password"
                [class]="{
                  'is-invalid': submitted && formControls['password'].errors
                }"
              >
                Password
              </label>
              <input
                type="password"
                formControlName="password"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Password"
                [class]="{
                  'is-invalid': submitted && formControls['password'].errors
                }"
              />
              @if(submitted && formControls['password'].errors) {
              <p class="text-red-500 mt-2">Password is required</p>
              }
            </div>
            <div class="text-center mt-6">
              <input
                type="submit"
                class="cursor-pointer bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                value="Create Account"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
