<div class="flex flex-wrap mt-4">
  <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
    <app-table-projects></app-table-projects>
  </div>
  <div class="w-full xl:w-4/12 px-4">
    <app-card-social-traffic></app-card-social-traffic>
  </div>
</div>
<div class="flex flex-wrap mt-4">
  <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
    <app-card-table-supervisors> Supervisors </app-card-table-supervisors>
  </div>
  <div class="w-full xl:w-6/12 px-4">
    <app-card-table-supervisors> Developers </app-card-table-supervisors>
  </div>
</div>
