<div class="text-blueGray-400 text-center mb-3 font-bold">
  <small>{{ title }}</small>
</div>
<form
  class="flex flex-col h-full"
  [formGroup]="form"
  [name]="formConfig.name"
  (ngSubmit)="formSubmitEvent()"
>
  @for(field of formConfig.fields; track $index) {
  <div class="relative w-full mb-3">
    <label
      class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
      htmlFor="username"
    >
      {{ field.label }}
    </label>
    <input
      [type]="field.type"
      [formControlName]="field.key"
      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
      [placeholder]="field.placeholder"
    />
    @if(submitted && formControls[field.key].errors) {
    <p class="text-red-500 mt-2">
      {{ field.errorMessage }}
    </p>
    }
  </div>
  }
  <div class="flex-1"></div>
  <div class="text-center mt-6">
    <input
      class="cursor-pointer bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
      type="submit"
      [value]="formConfig.submitText ?? 'Submit'"
    />
  </div>
</form>
